@use "variables";

/* Command Palette */
.quick-input {

  // WIDGET
  &-widget {
    transform: translateY(-50%) !important;
    top: 50% !important;
    padding: 10px !important;
    backdrop-filter: blur(0) !important;
    // border: 4px solid var(--vscode-quickInputList-focusForeground) !important;
    border: 4px solid #FFD63A !important;
    border-radius: 2px !important;
    min-height: 400px;
    box-shadow: -4px 4px 0px 0px #1DCD9F !important ;

    .monaco-list-row {
      &:hover {
        .label-name {
          color: yellow;
        }
      }
    }
    

  }

  // FILTER
  &-filter {
    .monaco-inputbox {
      border-radius: 5px !important;
      padding: 10px !important;
      border: none !important;
      font-size: 14px !important;
      margin-bottom: 10px !important;
      border: 1px solid var(--vscode-quickInputList-focusForeground) !important; 
    }
  }
}


/* Container that holds the VS Code home icon. */
.editor-group-watermark {
  max-width: none !important;
}
/* Command palette text input */
#command-blur {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .1);
  top: 0;
  left: 0;
  backdrop-filter: blur(0);
}

