@use "variables";

.monaco {
  &-editor-hover,
  &-hover {
    background-color: #333 !important; 
    border-radius: 2px !important;
    border: 1px solid orangered !important;
  };

  &-resizable-hover {
    border: none !important;
    // background: #333;
  } 

  &-editor {
    .zone-widget {
      &-container {
        $border: '3px';
        border-top-width: #{$border} !important;
        border-bottom-width: #{$border} !important;
      }
    }
    
    .scroll-decoration {
      box-shadow: none !important;
    }
  }
  

  /* Command palette's input box placeholder. */
  .monaco-inputbox input::placeholder {
    color: rgba(255, 255, 255, .3) !important;
  }

  &-workbench {
    .notification {
      &-toast {
        box-shadow: none !important;
      }
      &-list {
        &-item {
          border: 2px solid variables.$green !important;
          border-radius: 2px !important;
          // box-shadow: -2px 2px 0px 0px #FFFFFF!important;
          &:hover {
            transition: all .3s ease-out;
          }
        }
      }
    }
    
    .title .tabs-container>.tab .tab-label .label-name {
      color: yellow !important
    }
    .part {
      &.panel {
        border-top: 2px solid variables.$green;
        .content {
          border-top: 1px solid variables.$green;
        }
      }
    }
  }

  &-list {

    .monaco-list-rows {
      background: transparent !important;
      
    }
    .monaco-list-row {

      &.selected {
        background-color: var(--vscode-list-hoverBackground) !important;
        opacity: 1 !important;
        border-top: 1px var(--vscode-quickInputList-focusForeground) solid;
        border-bottom: 1px var(--vscode-quickInputList-focusForeground) solid;
        .label-name {
          color: #fff !important;
          opacity: 1 !important ;
        }
      }
      &.focused {
        background-color: var(--vscode-list-hoverBackground) !important;
        transform: none !important;
      }
    } 
  }
 
}

