@use "variables";

.monaco {
  &-editor-hover,
  &-hover {
    background-color: var(--vscode-list-hoverBackground) !important; 
    border-radius: 5px !important;
    border: 1px solid var(--vscode-quickInputList-focusForeground) !important;
  };

  &-resizable-hover {
    border: none !important;
  } 

  &-editor {
    .zone-widget {
      border: 2px solid var(--vscode-quickInputList-focusForeground) !important;
    }
  }
  

  /* Command palette's input box placeholder. */
  .monaco-inputbox input::placeholder {
    color: rgba(255, 255, 255, .3) !important;
  }

  &-workbench {
    .notifications-list-container {
      border: 2px solid #F7374F !important;
      border-radius: 2px !important;
      box-shadow: -2px 2px 0px 0px #FFFFFF!important;
      &:hover {
        transition: all .3s ease-out;
      }
    }
    .title .tabs-container>.tab .tab-label .label-name {
      color: yellow !important
    }
  }

  &-list {

    .monaco-list-rows {
      background: transparent !important;
      
    }
    .monaco-list-row {

      &.selected {
        background-color: var(--vscode-list-hoverBackground) !important;
        opacity: 1 !important;
        border-top: 1px var(--vscode-quickInputList-focusForeground) solid;
        border-bottom: 1px var(--vscode-quickInputList-focusForeground) solid;
        .label-name {
          color: #fff !important;
          opacity: 1 !important ;
        }
      }
      &.focused {
        background-color: var(--vscode-list-hoverBackground) !important;
        transform: none !important;
      }
    } 
  }
 
}

