
@use './variables.scss';

@use './command_palette.scss';
@use './file_explorer.scss';
@use './list_items.scss';
@use './monaco.scss';
@use './unk.scss';


/* Match Text */
.currentFindMatchInline {
  background: #000 !important;
}

.slider {
  border-radius: 0;
  width: 999px;
}
