@use "variables";

/* Sidebar title */
.composite {
  &.title {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-items: center !important;

    h2 {
      font-weight: bold !important;
      font-size: 12px !important;
      text-transform: uppercase;
      color: variables.$pink !important;
    }
  }
}


