@use "variables";

/* Tooltip box style */

.monaco {
  &-editor-hover,
  &-hover {
    background-color: variables.$bgPrimary !important; 
    border-radius: 5px !important;
    border: 1px solid variables.$pink !important;
  };

  &-resizable-hover {
    border: none !important;
  } 

}
